# Root-level ignores
.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.pnp
.pnp.js
.yarn/install-state.gz
*.pem
*.tsbuildinfo
next-env.d.ts

# nextjs-openai
/nextjs-openai/node_modules
/nextjs-openai/.next
/nextjs-openai/out
/nextjs-openai/.pnp
/nextjs-openai.pnp.js
/nextjs-openai/.yarn/install-state.gz
/nextjs-openai/coverage
/nextjs-openai/build
/nextjs-openai/npm-debug.log*
/nextjs-openai/yarn-debug.log*
/nextjs-openai/yarn-error.log*
/nextjs-openai/.vercel
/nextjs-openai/.temp
/nextjs-openai/.tmp
/nextjs-openai/*.pem
/nextjs-openai/*.tsbuildinfo
/nextjs-openai/next-env.d.ts

# nestjs-openai
/nestjs-openai/node_modules
/nestjs-openai/dist
/nestjs-openai/.pnp
/nestjs-openai.pnp.js
/nestjs-openai/.yarn/install-state.gz
/nestjs-openai/coverage
/nestjs-openai/build
/nestjs-openai/npm-debug.log*
/nestjs-openai/yarn-debug.log*
/nestjs-openai/yarn-error.log*
/nestjs-openai/.temp
/nestjs-openai/.tmp
/nestjs-openai/*.pem
/nestjs-openai/*.tsbuildinfo
/nestjs-openai/.idea
/nestjs-openai/.project
/nestjs-openai/.classpath
/nestjs-openai/.c9/
